<div class="card form-container">
  <div class="center">
    <h3>Task List</h3>
  </div>

<ul class="task-list">
  <li *ngFor="let item of items; let i = index" class="task-item">
      <input
        type="checkbox"
        [checked]="item.done"
        (change)="onTaskChange(i, $event)"
      />
      <span [class.completed]="item.done">{{ item.text }}</span>
  </li>
</ul>

<div class="add-row" *ngIf="showInput">
  <input
    type="text"
    placeholder="Enter a new task"
    [(ngModel)]="newItem"
    (keydown.enter)="addItem()"
  />
</div>

<button type="button" class="btn plus-btn" (click)="toggleInput()">+</button>

</div>