<div class="card form-container">
  <div class="center">
    <h2>Create account</h2>
    <p class="muted">Enter details to create a new account</p>
  </div>

  <form #signupForm="ngForm" (ngSubmit)="submit(signupForm)">
    <label>
      Email
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        required
        email
        #emailControl="ngModel"
      />
      <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)" class="error">
        <span *ngIf="emailControl.errors?.['required']">Email is required.</span>
        <span *ngIf="emailControl.errors?.['email']">Please enter a valid email address.</span>
      </div>
    </label>

    <label>
      Login ID
      <input name="loginid" [(ngModel)]="loginId" required  #loginIdControl="ngModel"/>
      <div *ngIf="loginIdControl.invalid && (loginIdControl.dirty || loginIdControl.touched)" class="error">
        <span *ngIf="loginIdControl.errors?.['required']">Login ID is required.</span>
      </div>
    </label>

    <label>
      Password
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        required
        minlength="8"
        maxlength="12"
        pattern="^(?=.*\d)(?=.*[^A-Za-z\d]).{8,12}$"
        #passwordControl="ngModel"
      />
      <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)" class="error">
        <span *ngIf="passwordControl.errors?.['required']">Password is required.</span>
        <span *ngIf="passwordControl.errors?.['minlength']">Password must be at least 8 characters.</span>
        <span *ngIf="passwordControl.errors?.['maxlength']">Password cannot exceed 12 characters.</span>
        <span *ngIf="passwordControl.errors?.['pattern']">
          Password must contain at least one number and one special character.
        </span>
      </div>
    </label>

    <div style="margin-top:0.75rem; display:flex; justify-content:flex-end;">
      <button type="submit" class="btn" [disabled]="signupForm.invalid">Create Account</button>
    </div>
  </form>
  <div *ngIf="signupError" class="error">
  {{ signupError }}
</div>
</div>
